{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Videos list</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Type</th>
                <th>Resume</th>
                <th>Duration</th>
                <th>Date</th>
                <th>Ordre</th>
                <th>Downloaded</th>
                <th>Viewed</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for video in videos %}
                <tr>
                    <td><a href="{{ path('video_show', { 'id': video.id }) }}">{{ video.id }}</a></td>
                    <td>{{ video.title }}</td>
                    <td>{{ video.type }}</td>
                    <td>{{ video.resume }}</td>
                    <td>{{ video.date|date('Y') }}</td>
                    <td>{{ video.ordre }}</td>
                    <td>{{ video.duration }}</td>
                    <td>{% if video.downloaded %}Yes{% else %}No{% endif %}</td>
                    <td>{% if video.viewed %}Yes{% else %}No{% endif %}</td>
                    <td>{% if video.active %}Yes{% else %}No{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('video_show', { 'id': video.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('video_edit', { 'id': video.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('video_new') }}">Create a new video</a>
            </li>
        </ul>
    </div>

{% endblock %}
