{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Liste des vidéos</h1>
        <p>
            <a href="{{ path('video_new') }}" class="btn btn-outline-success">Ajouter une vidéo</a>
        </p>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Type</th>
                <th>Resume</th>
                <th>Duration</th>
                <th>Date</th>
                <th>Ordre</th>
                <th>Downloaded</th>
                <th>Viewed</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for video in videos %}
                <tr>
                    <td><a href="{{ path('video_show', { 'id': video.id }) }}">{{ video.id }}</a></td>
                    <td>{{ video.title }}</td>
                    <td>{{ video.type }}</td>
                    <td>{{ video.resume }}</td>
                    <td>{{ video.duration }}</td>
                    <td>{{ video.date|date('Y') }}</td>
                    <td>{{ video.ordre }}</td>
                    <td>{% if video.downloaded %}<span class="badge badge-success">Oui</span>{% else %}<span class="badge badge-danger">Non</span>{% endif %}</td>
                    <td>{% if video.viewed %}<span class="badge badge-success">Oui</span>{% else %}<span class="badge badge-danger">Non</span>{% endif %}</td>
                    <td>{% if video.active %}<span class="badge badge-success">Oui</span>{% else %}<span class="badge badge-danger">Non</span>{% endif %}</td>
                    <td>
                                <a href="{{ path('video_show', { 'id': video.id }) }}" class="btn btn-sm btn-outline-info">Voir</a>

                                <a href="{{ path('video_edit', { 'id': video.id }) }}" class="btn btn-sm btn-outline-primary">Modifier</a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
