{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Video</h1>
        <p>
            <a href="{{ path('video_index') }}" class="btn btn-outline-info">Retour à la liste</a>
            <a href="{{ path('video_edit', { 'id': video.id }) }}" class="btn btn-outline-success">Modifier</a>
        </p>
        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ video.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ video.title }}</td>
            </tr>
            <tr>
                <th>Resume</th>
                <td>{{ video.resume }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ video.duration }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ video.date|date('Y') }}</td>
            </tr>
            <tr>
                <th>Ordre</th>
                <td>{{ video.ordre }}</td>
            </tr>
            <tr>
                <th>Downloaded</th>
                <td>{% if video.downloaded %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Viewed</th>
                <td>{% if video.viewed %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{% if video.active %}Yes{% else %}No{% endif %}</td>
            </tr>
            </tbody>
        </table>
        {{ form_start(delete_form) }}
        <input type="submit" value="Supprimer" class="btn btn-outline-danger">
        {{ form_end(delete_form) }}
    </div>

{% endblock %}
