{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>Durée</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    Films
                </td>
                <td>
                    {{ duree['dureFilm']|minutesToHour }}
                </td>
            </tr>
            <tr>
                <td>
                    Séries
                </td>
                <td>
                    {{ duree['dureSerie']|minutesToHour }}
                </td>
            </tr>
            <tr>
                <td>
                    Court métrage
                </td>
                <td>
                    {{ duree['dureCourtMetrage']|minutesToHour }}
                </td>
            </tr>
            <tr>
                <th>
                    Total
                </th>
                <td>
                    {{ duree['dureTotal']|minutesToHour }}
                </td>
            </tr>
            </tbody>
        </table>
        {% for video in videos %}
            <div class="mb-1 card {{ video.typeClass }}">
                <div class="card-body">
                    <h5 class="card-title">{{ video.title }}{% if video.date %} - {{ video.date|date('Y') }}{% endif %}</h5>
                    <h5 class="card-subtitle mb-2 text-muted">{{ video.type }}</h5>
                    {% if video.duration %}
                        <h6 class="card-subtitle mb-2 text-muted">{{ video.duration|minutesToHour }}</h6>
                    {% endif %}
                    {% if video.resume %}
                        <p class="card-text">{{ video.resume }}</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
